<div class= "text-center">
<h2><%= @bar.name %></h2>
<h2><%= @bar.location %></h2>
</div>

<ul>
  <h1>Events</h1>
  <% @bar.events.each do |event| %>
    <li><%= event.title %> on the <%= event.date %></li>
  <% end %>
</ul>


