<div class = "banner" style = "background-image: linear-gradient(-225deg, rgba(0,20,80,0.6) 0%, rgba(0,10,100,0.3) 50%), url('https://static.pexels.com/photos/342520/pexels-photo-342520.jpeg');">
  <div class = "banner-content">
    <h1 class = "text-center">All Events</h1>
    <div class = "container">
      <div class = "row">
        <% @sorted_events = @events.sort_by &:date %>
        <% @sorted_events.each do |x|%>
          <%= link_to event_path(x) do %>
            <div class="col-xs-6 small-padded event-link">
              <%= x.bar.name %> - "<%= x.title %>"
              <%= x.date %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


