// Your footer style
#footer {
    position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  padding: 40px 0;
  width: 100%;
  background: #30abd5;
  font-family: "Raleway", "Helvetica", "sans-serif";
}



