/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.small-padded {
  padding-top: 5px;
  padding-bottom: 5px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.info{
  background: #333333;
  color: #CCCCCC;
  padding: px;


}

